@model Paypal.Models.Paypal
@{
    Layout = null;
    ViewBag.Title = "PostToPaypal";
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>
<body>
    <form id="frm" action="@ViewBag.actionUrl">
    @Html.HiddenFor(model => model.cmd)
    @Html.HiddenFor(model => model.business)
    @Html.HiddenFor(model => model.notify_url)
    @* @Html.HiddenFor(model => model.no_shipping)*@
    @Html.HiddenFor(model => model.@return)
    @Html.HiddenFor(model => model.cancel_return)
    @Html.HiddenFor(model => model.currency_code)
    @Html.Hidden("upload", "1")
        @{
            int i = 1;
        foreach (var paypalItem in Model.PaypalItems)
        {
            @Html.Hidden(string.Format("item_name_{0}", i), string.Format("item{0}", paypalItem.Name))
            @Html.Hidden(string.Format("amount_{0}", i), paypalItem.Amount)
            @Html.Hidden(string.Format("quantity_{0}", i), paypalItem.Quantity)
            i++;
        }

    }
    </form>
    <p style="text-align: center">
        <h4>
            Redirecting to Paypal...
        </h4>
    </p>
</body>
</html>
<script type="text/javascript">
    $(this.document).ready(function () {
        var frm = $("form");
        frm.submit();
    });
</script>
